<!-- <template lang="pug" src="./App.pug"></template> -->
<template lang="pug">
main.main
  .main__left-part
    .dates
      .dates__item.date(v-for="l in list" v-bind:key=`${l}` v-on:click="showDate(l)")
        .date__day {{l.day}}
        .date__month {{l.month}}
    button.prev-month
      | <<
    button.next-month
      | >>
    button.test(v-on:click="test()") TEST
  .main__right-part
    h1.heading
      | Hello, I'm {{cat.name}}&nbsp;
      span.heading__span
        | !
    h3 {{cat.says}} - says Hunter
    img.image(src="/src/assets/imgs/Hunter.jpg")
</template>

<script>
import moment from 'moment';
import makeDaysInMonth from './functions/makeMonth.js';

moment.locale('ru');

export default {
  name: 'app',
  methods: {
    sayWhat() {
      return 'MEOW!!!!'
    },
    showDate(date) {
      let { day, weekDay, month } = date
      alert(`
          It's ${weekDay.toLowerCase()}, ${day} ${month}
        `)
    },
    test() {
      console.log(moment().subtract(4, 'months').daysInMonth());
    }
  },
  data() {
    return {
      list: makeDaysInMonth(),
      cat: {
        name: 'Hunter',
        says: 'It\'s my calendar! I\'m very busy!!'
      },
      calendar: {
        currentMonth: moment(),
        choosedMonth: moment()
      }
    };
  }
};
</script>

<style lang="scss" scoped>
  .heading {
    color: $heading_color;
    &__span {
      display: inline-block;
      color: blue;
      @include rotating;
    }
  }

  .main {
    display: flex;
    width: 1024px;
    margin: auto;
    &__left-part {
      width: 50%
    }
    &__right-part {
      width: 50%;
    }
  }

  .image {
    display: block;
    width: 100%;
  }

  .dates {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: 14.2%;
    }
  }

  .date {
    padding: 4px;
    border: 1px solid #eee;
    &__day {
      font-size: 30px;
      text-align: center;
    }
    &__month {
      text-align: center;
    }
  }
</style>
